<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.hyzt.system.mapper.SysArticleMapper">

    <resultMap  id="SysArticleResult"       type="SysArticle">
        <id     property="articleId"        column="article_id"/>
        <result property="articleTitle"     column="article_title"/>
        <result property="remark"           column="remark" />
        <result property="userId"           column="user_id"/>
        <result property="articleContent"   column="article_content"/>
        <result property="articleCover"     column="article_cover"/>
        <result property="typeId"           column="type_id"/>
        <result property="isTop"            column="is_top"/>
        <result property="type"             column="type"/>
        <result property="status"           column="status"/>
        <result property="createBy"         column="create_by"/>
        <result property="createTime"       column="create_time"/>
        <result property="updateBy"         column="update_by"/>
        <result property="updateTime"       column="update_time"/>
        <association property="articleType" resultMap="SysArticleTypeResult" />
        <association property="user"        resultMap="SysUserResult" />
    </resultMap>

    <resultMap id="SysArticleTypeResult" type="SysArticleType">
        <id     property="typeId"   column="type_id" />
        <result property="typeName" column="type_name" />
    </resultMap>

    <resultMap id="SysUserResult" type="SysUser">
        <result property="realName" column="real_name" />
        <result property="avatar"   column="avatar" />
    </resultMap>

    <select id="selectArticle" parameterType="SysArticle" resultMap="SysArticleResult">
        select
            sa.article_id,
            sa.article_title,
            sa.remark,
            sa.user_id,
            sa.article_content,
            sa.article_cover,
            sa.type_id,
            sa.is_top,
            sa.type,
            sa.status,
            st.type_id,
            st.type_name,
            sa.create_by,
            sa.create_time,
            sa.update_by,
            sa.update_time
        from sys_article sa
        left join sys_article_type st on st.type_id = sa.type_id
        where sa.del_flag = 0
        <if test="articleTitle != null and articleTitle != ''">
            and sa.article_title like concat('%', #{articleTitle}, '%')
        </if>
        <if test="status != null and status != ''">
            and sa.status = #{status}
        </if>
        <if test="type != null and type != ''">
            and sa.status = #{type}
        </if>
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            and date_format(sa.create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            and date_format(sa.create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
        <!-- 数据范围过滤 -->
        ${params.dataScope}
        order by sa.create_time desc
    </select>

    <select id="selectArticleByArticleId" resultMap="SysArticleResult" parameterType="String">
        select
            sa.article_id,
            sa.article_title,
            sa.remark,
            sa.user_id,
            sa.article_content,
            sa.article_cover,
            sa.type_id,
            sa.is_top,
            sa.type,
            sa.status,
            st.type_id,
            st.type_name,
            sa.create_by,
            sa.create_time,
            sa.update_by,
            sa.update_time,
            su.real_name,
            su.avatar
        from sys_article sa
        left join sys_article_type st on st.type_id = sa.type_id
        left join sys_user su on su.user_id = sa.user_id
        where sa.article_id = #{articleId}
    </select>

    <insert id="insertArticle" parameterType="SysArticle" useGeneratedKeys="true" keyProperty="articleId">
        insert into sys_article (
        <if test="articleId != null and articleId != ''">article_id,</if>
        <if test="articleTitle != null and articleTitle != ''">article_title,</if>
        <if test="remark != null and remark != ''">remark,</if>
        <if test="userId != null and userId != ''">user_id,</if>
        <if test="articleContent != null and articleContent != ''">article_content,</if>
        <if test="articleCover != null and articleCover != ''">article_cover,</if>
        <if test="typeId != null and typeId != ''">type_id,</if>
        <if test="isTop != null and isTop != ''">is_top,</if>
        <if test="type != null and type != ''">type,</if>
        <if test="status != null and status != ''">status,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        create_time
        )
        values (
        <if test="articleId != null and articleId != ''">#{articleId},</if>
        <if test="articleTitle != null and articleTitle != ''">#{articleTitle},</if>
        <if test="remark != null and remark != ''">#{remark},</if>
        <if test="userId != null and userId != ''">#{userId},</if>
        <if test="articleContent != null and articleContent != ''">#{articleContent},</if>
        <if test="articleCover != null and articleCover != ''">#{articleCover},</if>
        <if test="typeId != null and typeId != ''">#{typeId},</if>
        <if test="isTop != null and isTop != ''">#{isTop},</if>
        <if test="type != null and type != ''">#{type},</if>
        <if test="status != null and status != ''">#{status},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        sysdate()
        )
    </insert>
    
    <update id="updateArticle" parameterType="SysArticle">
        update sys_article
        <set>
            <if test="articleTitle != null and articleTitle != ''">article_title = #{articleTitle},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="userId != null and userId != ''">user_id = #{userId},</if>
            <if test="articleContent != null and articleContent != ''">article_content = #{articleContent},</if>
            <if test="articleCover != null and articleCover != ''">article_cover = #{articleCover},</if>
            <if test="typeId != null and typeId != ''">type_id = #{typeId},</if>
            <if test="isTop != null and isTop != ''">is_top = #{isTop},</if>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where article_id = #{articleId}
    </update>

    <update id="cancelArticleTop">
        update sys_article set is_top = '0' where is_top = '1'
    </update>

    <update id="deleteArticleByIds" parameterType="String">
        update sys_article set del_flag = 1 where article_id in
        <foreach collection="array" item="articleId" open="(" separator="," close=")">
            #{articleId}
        </foreach>
    </update>

    <select id="topArticle" resultMap="SysArticleResult">
        select
            sa.article_id,
            sa.article_title,
            sa.remark,
            sa.article_content,
            sa.article_cover,
            sa.type_id,
            sa.is_top,
            sa.type,
            sa.status,
            sa.create_time,
            sa.update_time
        from sys_article sa
        where sa.is_top = '1' limit 1
    </select>

    <select id="selectArticleAll" resultMap="SysArticleResult">
        select
            sa.article_id,
            sa.article_title,
            sa.remark,
            sa.article_content,
            sa.article_cover,
            sa.create_time,
            su.real_name,
            su.avatar
        from sys_article sa
                 left join sys_user su on su.user_id = sa.user_id
        where sa.del_flag = 0
        order by sa.create_time desc
    </select>

</mapper>