<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.hyzt.system.mapper.SysArticleTypeMapper">

    <resultMap  id="SysArticleTypeResult"          type="SysArticleType">
        <id     property="typeId"           column="type_id" />
        <result property="typeName"         column="type_name" />
        <result property="createBy"         column="create_by"/>
        <result property="createTime"       column="create_time"/>
        <result property="updateBy"         column="update_by"/>
        <result property="updateTime"       column="update_time"/>
    </resultMap>

    <sql id="selectType">
        select
            st.type_id,
            st.type_name,
            st.create_by,
            st.create_time,
            st.update_by,
            st.update_time
        from sys_article_type st
    </sql>

    <select id="selectTypeList" parameterType="SysArticleType" resultMap="SysArticleTypeResult">
        <include refid="selectType" />
        where st.del_flag = 0
        <if test="typeName != null and typeName != ''">
            and st.type_name like concat('%', #{typeName}, '%')
        </if>
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            and date_format(st.create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            and date_format(st.create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
    </select>

    <select id="selectTypeAll" resultMap="SysArticleTypeResult">
        <include refid="selectType" />
    </select>

    <select id="selectTypeById" parameterType="String" resultMap="SysArticleTypeResult">
        <include refid="selectType" />
        where st.type_id = #{typeId}
    </select>

    <insert id="insertType" parameterType="SysArticleType" useGeneratedKeys="true" keyProperty="typeId">
        insert into sys_article_type (
        <if test="typeId != null and typeId != ''">type_id,</if>
        <if test="typeName != null and typeName != ''">type_name,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        create_time
        )
        values (
        <if test="typeId != null and typeId != ''">#{typeId},</if>
        <if test="typeName != null and typeName != ''">#{typeName},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        sysdate()
        )
    </insert>

    <update id="updateTypeById" parameterType="SysArticleType">
        update sys_article_type
        <set>
            <if test="typeName != null and typeName != ''">type_name = #{typeName},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where type_id = #{typeId}
    </update>

    <update id="deleteTypeByIds" parameterType="String">
        update sys_article_type set del_flag = 1 where type_id in
        <foreach collection="array" item="typeId" open="(" separator="," close=")">
            #{typeId}
        </foreach>
    </update>

    <select id="checkTypeNameUnique" parameterType="String" resultMap="SysArticleTypeResult">
        <include refid="selectType" />
        where st.type_name = #{typeName} and del_flag = 0 limit 1
    </select>

    <select id="countTypeByTypeId" parameterType="String" resultType="Integer">
        select count(1) from sys_article where type_id = #{typeId} and del_flag = 0
    </select>

</mapper>