<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.hyzt.system.mapper.SysTypeMapper">

    <resultMap  id="SysTypeResult"          type="SysType">
        <id     property="typeId"           column="type_id" />
        <result property="typeName"         column="type_name" />
        <result property="createBy"         column="create_by"/>
        <result property="createTime"       column="create_time"/>
        <result property="updateBy"         column="update_by"/>
        <result property="updateTime"       column="update_time"/>
    </resultMap>

    <select id="selectTypeList" parameterType="SysType" resultMap="SysTypeResult">
        select
            type_id,
            type_name,
            create_by,
            create_time,
            update_by,
            update_time
        from sys_type st
        <where>
            <if test="typeId != null and typeId != ''">
                and st.type_id = #{typeId}
            </if>
            <if test="tagName != null and tagName != ''">
                and st.type_name like concat('%', #{typeName}, '%')
            </if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                and date_format(st.create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                and date_format(st.create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
        </where>
    </select>

</mapper>