<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.hyzt.system.mapper.SysTagMapper">

    <resultMap  id="SysTagResult"       type="SysTag">
        <id     property="tagId"        column="tag_id" />
        <result property="tagName"      column="tag_name" />
        <result property="createBy"     column="create_by"/>
        <result property="createTime"   column="create_time"/>
        <result property="updateBy"     column="update_by"/>
        <result property="updateTime"   column="update_time"/>
    </resultMap>

    <sql id="selectTag">
        select
            st.tag_id,
            st.tag_name,
            st.create_by,
            st.create_time,
            st.update_by,
            st.update_time
        from sys_tag st
    </sql>

    <select id="selectTagList" parameterType="SysTag" resultMap="SysTagResult">
        <include refid="selectTag" />
        where st.del_flag = 0
        <if test="tagName != null and tagName != ''">
            and st.tag_name like concat('%', #{tagName}, '%')
        </if>
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            and date_format(st.create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            and date_format(st.create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
    </select>

    <select id="selectTagAll" resultMap="SysTagResult">
        <include refid="selectTag" />
    </select>

    <select id="selectTagListByArticleId" parameterType="String" resultType="String">
        select t.tag_id
        from sys_tag t
                 left join sys_article_tag sat on t.tag_id = sat.tag_id
                 left join sys_article sa on sat.article_id = sa.article_id
        where sa.article_id = #{articleId}
    </select>

    <select id="selectTagById" parameterType="String" resultMap="SysTagResult">
        <include refid="selectTag" />
        where st.tag_id = #{tagId}
    </select>

    <insert id="insertTag" parameterType="SysTag" useGeneratedKeys="true" keyProperty="tagId">
        insert into sys_tag (
        <if test="tagId != null and tagId != ''">tag_id,</if>
        <if test="tagName != null and tagName != ''">tag_name,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        create_time
        )
        values (
        <if test="tagId != null and tagId != ''">#{tagId},</if>
        <if test="tagName != null and tagName != ''">#{tagName},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        sysdate()
        )
    </insert>

    <update id="updateTagById" parameterType="SysTag">
        update sys_tag
        <set>
            <if test="tagName != null and tagName != ''">tag_name = #{tagName},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where tag_id = #{tagId}
    </update>

    <update id="deleteTagByIds" parameterType="String">
        update sys_tag set del_flag = 1 where tag_id in
        <foreach collection="array" item="tagId" open="(" separator="," close=")">
            #{tagId}
        </foreach>
    </update>

    <select id="checkTagNameUnique" parameterType="String" resultMap="SysTagResult">
        <include refid="selectTag" />
        where st.tag_name = #{tagName} and del_flag = 0 limit 1
    </select>

    <select id="countTagByTagId" parameterType="String" resultType="Integer">
        select count(1) from sys_article_tag where tag_id = #{tagId}
    </select>

</mapper>